@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

.navbar {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  /* text-transform: uppercase; */
  font-size: large;
  background-color: #b28c69;
  box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.2);
}

.brand {
  color: #322824 !important;
}
